
    <nb-card>
      <nb-card-header>Deine Händler</nb-card-header>
      <nb-card-body>
    <ul id="rig">
      <li>
          <a class="rig-cell" (click)="showLargeModal(0)">
              <img class="rig-img" src="../../../assets/images/seller/1.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(1)">
              <img class="rig-img" src="../../../assets/images/seller/2.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/3.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/4.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/5.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/6.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/7.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/8.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/9.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/10.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/11.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/12.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here--></span>
          </a>
      </li>
  </ul>

</nb-card-body>
</nb-card>

