<nb-card>
        <nb-card-header>Persönliche Daten</nb-card-header>
        <nb-card-body>

           <!-- Name des Geschaefts //ffried 06.12. -->
          <div class="input-group">
            <input type="text" placeholder="Name des Geschäfts" class="form-control"/>
          </div>

           <!-- Vor- und Nachname //ffried 06.12. -->
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Vorname" class="form-control"/>
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nachname" class="form-control"/>
            </div>
          </div>

           <!-- Adresse //ffried 06.12. -->
          <div class="input-group">
            <input type="text" placeholder="Straße und Hausnummer" class="form-control"/>
          </div>
          <div class="input-group">
            <input type="text" placeholder="PLZ und Ort" class="form-control"/>
          </div>
          
          <!-- Branche //ffried 06.12. -->
          <br>
          <small class="form-text">Wählen Sie Ihre Branche
            </small>
          <br>
          <div class="form-group">
              <select class="form-control">
                  <option>Imbiss</option>
                  <option>Restaurant</option>
                  <option>Bar/Club</option>
                  <option>Bäcker</option>
                  <option>Lebensmittel</option>
                  <option>Friseur</option>
                  <option>Fachgeschäft</option>
                  <option>Dienstleister</option>
                  <option>Sonstige</option>
              </select>
            </div>

          <!-- Werbetext //ffried 06.12. -->
          <small class="form-text">Beschreiben Sie Ihr Angebot in einem kurzen Text. Dieser Text wird für Ihre Kunden sichtbar sein.
            </small>
          <br>
          <div class="input-group">
            <textarea rows="5" placeholder="Werbetext" class="form-control"></textarea>
          </div>

          <!-- Speichern-Button //ffried 06.12. -->
          <br>
          <button type="submit" class="btn btn-danger">Speichern</button>

        </nb-card-body>
      </nb-card>