<div class="row">
  <div class="col md-1">
    <nb-card>
      <nb-card-header>Insgesamt Gespart</nb-card-header>
      <nb-card-body>
        <div>Insgesamt durch LOLOCO gespart:</div>
        <br>
        <h1>213,86 €</h1>
        <br>

      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-8">
      <ngx-traffic></ngx-traffic>
  </div>

</div>



    <nb-card class="col md-1">
        <nb-card-header>Verfügbare Gutscheine</nb-card-header>
        <nb-card-body>
      <ul id="rig">
        
        <li>
            <a class="rig-cell" (click)="showLargeModal(2)">
                <img class="rig-img" src="../../../../assets/images/seller/2.png">
                <span class="rig-overlay"></span>
                <span class="rig-text"> </span>
            </a>
        </li>
       
        <li>
            <a class="rig-cell" (click)="showLargeModal(10)">
                <img class="rig-img" src="../../../assets/images/seller/10.png">
                <span class="rig-overlay"></span>
                <span class="rig-text"> </span>
            </a>
        </li>

        <li>
            <a class="rig-cell" (click)="showLargeModal(6)">
                <img class="rig-img" src="../../../../assets/images/seller/6.png">
                <span class="rig-overlay"></span>
                <span class="rig-text"> </span>
            </a>
        </li>

        <li>
            <a class="rig-cell" (click)="showLargeModal(7)">
                <img class="rig-img" src="../../../../assets/images/seller/7.png">
                <span class="rig-overlay"></span>
                <span class="rig-text"> </span>
            </a>
        </li>

    </ul>
  
  </nb-card-body>
  </nb-card>

  

  <nb-card class="col md-1">
        <nb-card-header>Aktuelle Angebote</nb-card-header>
        <nb-card-body>


        
        <img class="rig-img" src="../../../../assets/images/banner2.png">
        </nb-card-body>
    </nb-card>


<!-- ALT:
<div class="row"

  
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">

      <ngx-solar [chartValue]="10"></ngx-solar>
      <ngx-kitten></ngx-kitten>


    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-md-5">
      <ngx-traffic></ngx-traffic>
      <ngx-weather></ngx-weather>
    </div>
  
    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>
  </div>

-->
  