<!--Überschrift //ffried 8.12.-->
<h5 class="grid-h">Mein LoloCODE</h5>
<span id="instruction">Dies ist dein LoloCODE, zeige ihn beim Einkauf deinem Händler vor, sammle, und spare!</span>
<br><br>


<ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value">
</ngx-qrcode>

<br>

<!--Eingabefeld //ffried 6.12.-->
<div class="input-group">
    <input type="text" id = "text1" class="form-control full-width" placeholder="QR-Inhalt eingeben...">
    <span class="input-group-btn">
        <button class="btn btn-danger" (click)="updateData()">
          Generieren
        </button>
    </span>
</div>


