.full-width {
    flex: 1;
    min-width: 200px;
  }
  
  nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  
  /*Breite des Eingabefelds //ffried 6.12.*/
.input-group {
  margin-bottom: 1rem;
  width: 350px !important;
 
}