<nb-card size="xsmall" class="solar-card">
    <nb-card-header>Meine Punkte</nb-card-header>
    <nb-card-body> 
      <div echarts [options]="option" class="echart">
      </div>
      <div class="info">
          
        <!-- Noch nicht ausreichend Punkte gesammelt-->
       <div class="value" *ngIf="!remainingScans() == 0">Noch {{ remainingScans() }} Punkte bis zum nächsten Gutschein!</div>

        <!-- Ausreichend Punkte gesammelt-->
        <div *ngIf="remainingScans() == 0">
        <div class="details">Ausreichend Punkte gesammelt</div>
        <br>
        <button class="btn btn-md btn-primary" (click)="showDiv()" >Gutschein anzeigen</button>
        <br>
        <br>
        </div>

        <div class="details"><span>&nbsp;</span>&nbsp;</div>

        
        
      </div>
      
    </nb-card-body>

  </nb-card>

  <div id="coupon" style="display:none;">
    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value1">
  </ngx-qrcode>
</div>