<div class="row">
<div class="col-md-6">
    <nb-card>
      <nb-card-header>Kundenanteile nach Alter</nb-card-header>
      <nb-card-body>
        <div>Gemessen an der Anzahl der Umsätze innerhalb der letzten 3 Monate</div>
        <br>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>

  </div>
    <div class="col-md-6">
    <nb-card>
      <nb-card-header>Durchschnittliche Umsätze nach Wochentagen</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>

  </div>

</div>