<div>
    <span>Kamera wählen: &nbsp;</span>

    <select (change)="onChange($event.target.value)">
      <option *ngFor="let device of availableDevices" value="{{device.deviceId}}">{{device.label}}</option>
    </select>

    <br>
    <br>

   
      <ngx-zxing 
          [start]="camStarted"
          [device]="selectedDevice"
          (onCamsFound)="displayCameras($event)"
          (onScan)="handleQrCodeResult($event)"
          
      ></ngx-zxing>
    

      <br>

      <span>Dein gescannter LoloCODE: &nbsp;<strong id="result">{{qrResult}}</strong></span>

      <br>
      <br>
      <div class="input-group">
        <input id="consumerid" type="text" class="form-control" placeholder="LOLOCO ID eingeben..." value="{{qrResult}}" >
        
    </div>

    <div class="input-group">
        <input id="sellerid" type="text" class="form-control" placeholder="HändlerID angeben">
    </div>
    <div class="input-group">
        <input id="amount" type="number" class="form-control" placeholder="Betrag/Menge eingeben...">
        <span class="input-group-btn">
            <button class="btn btn-danger" (click)="indb()">
                Einkauf Gutschreiben
            </button>
            <p></p>
        </span>
    </div>

</div>
