<!--Überschrift //ffried 5.12.-->
<h5 class="grid-h">LoloCODE scannen</h5>
<span id="instruction">Halten Sie den zu scannenden LoloCODE vor die Kamera</span>
<br><br>

<!--Scanner //ffried 5.12.-->
<ngx-tabs></ngx-tabs>

<br>

<!--Eingabefeld //ffried 5.12.-->
<div class="input-group">
    <input type="text" class="form-control" placeholder="Betrag/Menge eingeben...">
    <span class="input-group-btn">
        <button class="btn btn-danger">
            FERTIG
        </button>
    </span>
</div>