<div class="col-md-6">
  <nb-card>
    <nb-card-header>Sind Sie Verkäufer oder Konsument?</nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="gridRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Verkäufer</span>
          </label>
          <p></p>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="gridRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Konsument</span>
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-danger">Weiter</button>
      </form>
    </nb-card-body>
  </nb-card>