<div class="col-md-6">
  <nb-card>
    <nb-card-header>Sind Sie Händler oder Kunde?</nb-card-header>
    <nb-card-body>
      <form name="Rolle wählen">
        <div id="choice" class="form-check">
          <label class="custom-control custom-radio">
            <input (checked)="checked()" id="r1" type="radio" class="custom-control-input" name="gridRadios" value="True">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> <strong> Ich bin Händler </strong>und möchte das LOLOCO-System für mein Geschäft einführen.</span>
          </label>
          <p></p>
          <label class="custom-control custom-radio">
            <input ng-checked="" id="r2" type="radio" class="custom-control-input" name="gridRadios" value="alsoTrue">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"><strong> Ich bin Kunde </strong> und möchte mit LOLOCO Punkte sammeln und sparen.</span> 
          </label>
          
        </div>
        <br>
        <button (click)="weiter()" id="bt" type="submit" class="btn btn-danger">Weiter</button>
      </form>
    </nb-card-body>
  </nb-card>


